<div class="form-group">
  <div class="row">
    <div class="col-md-3">
      <label for="exampleFormControlSelect1">Priority</label>
    </div>
    <div class="col-md-6">
      <select (select)="changePriority($event)" class="form-control" id="exampleFormControlSelect1">
        <option>Low
        </option>
        <option selected="true">Medium</option>
        <option>High</option>
      </select>
    </div>
    <div class="col-md-3">
      <i class="fas fa-equals"></i>
    </div>
  </div>
  
  
</div>