<div class="card shadowed task-list"
  (drop)="drop($event)" 
  (dragover)="allowDrop($event)">

  <div class="card-body task-list-body">
    <div class="row">
      <div class="col-md-10">
      <h5 class="card-title task-list-title">{{ list.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted task-list-description">{{ list.description }}</h6>
      </div>
      <div class="col-md-2 justify-content-end">
        <app-list-dropdown></app-list-dropdown>
      </div>
    </div>

    <div class="tasks-body cdk-list drag-column">
      <app-task *ngFor="let task of list.tasks" 
                [(task)]="task" 
                
                [openEditFormEvent]="openEditFormEvent">
      </app-task>
    </div>

    <app-add-task (taskAddEvent)="onTaskAdd($event)" [boardId]="list.id"></app-add-task>

  </div>
</div>