<app-nav></app-nav>

<br>
<div class="container-fluid board-group">
  <div class="row">
    <div class="col-lg-3 col-md-3 task-list" 
      *ngFor="let list of space.taskLists; let i = index">
      <app-list [editTaskEvent]="editTaskEvent" 
                [(list)]="list" 
                [cdkIndex]="i"
                [openEditFormEvent]="openEditFormEvent"
                [listNamesForCdk]="litstNamesForCdk"
                #looped>
      </app-list>
    </div>

    <div class="col-md-2">
      <app-add-board (addBoardEvent)="addBoard($event)"></app-add-board>
    </div>
  </div>
</div>
<app-edit-task [editTaskEvent]="editTaskEvent" [openEditFormEvent]="openEditFormEvent"></app-edit-task>