.add-task-header {
    color: #5e6c84;
}

.add-task-icon {
    height: 12px;
}

.add-task-caption {
    font-size: 14px;
}

.add-task-form {
    background-color: #e9ecef;
    border: none;
    padding: 0.25rem;
}

.add-task-card {
    border: none;
}

.none-margin {
    margin-bottom: 0rem;
}