<div class="accordion" id="accordionExample">
  <div class="add-task-button">
    <a class="btn add-task-header" type="button" data-toggle="collapse" attr.data-target="#collapse_{{ boardId }}" aria-expanded="false" attr.aria-controls="collapse_{{ boardId }}">
      
      <span class="add-task-icon">
        <i class="fas fa-plus add-task-icon"></i>
      </span>

      <span class="add-task-caption">
        Add a new task
      </span>
    </a>
  </div>
  

    <div id="collapse_{{ boardId }}" class="collapse" attr.aria-labelledby="heading_{{ boardId }}" data-parent="#accordionExample">
      <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" attr.name="inputtask_{{boardId}}" [(ngModel)]="taskModel.title">
            <small class="form-text text-muted">Enter task description</small>
            <button type="button" (click)="addTask()" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>