.task {
    margin-top: 4px;
    
    cursor: pointer;

    &:hover {
        background-color: #ECECEC;    
        box-shadow: 0 1px 0 rgba(9,30,66,.25);
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    }
}

.task-description {
    margin: 0px;
    font-size: 14px;
}

.task-label {
    font-size: 65%;
    font-weight: 400;
}

.label-bar {
    margin: 0px;
}

.attendee-picture {
    border-radius: 50%; 
    width: 9%;
}

.attendee-bar {
    margin: 0px;
}

.shadowed {
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}