<!-- cdkDrag
      pDraggable="task" -->

<div class="task list-group-item shadowed"
      (click)="openEditForm()"  
      data-toggle="modal" 
      data-target="#exampleModal"
      draggable="true" 
      (dragstart)="dragStart($event)" >
  <div class="">
    <p class="label-bar">
      <span *ngFor="let label of task.labels" class="badge badge-{{label.name}} task-label">{{label.name}}</span>
    </p>
    <p class="task-description">
      <span>
        {{ task.title }}
      </span>
      <span style="float: right">
        <app-priority [(priority)]="task.priority"></app-priority>
      </span>
    </p>
    <p class="attendee-bar">
      <img class="attendee-picture" *ngFor="let attendee of task.attendees" data-toggle="tooltip" data-placement="top" title="{{attendee.firstName}} {{attendee.lastName}}" src="{{attendee.imageThumbnailUrl}}">
    </p>
  </div>
</div>
