<app-nav></app-nav>
<div class="container background-light">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="h1">Settings</p>
            <hr>
            <form class="">
                <p class="h4">Change password</p>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="password"  class="form-control form-control-user" id="exampleInputCurrentPassword" placeholder="Current password">
                    </div>
                  </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="password"  class="form-control form-control-user" id="exampleInputPassword" placeholder="New password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="password"   class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat new password">
                      </div>
                  </div>
                <a class="btn btn-primary btn-user ">
                  Save
                </a>
              </form>
              
        </div>
    </div>
</div>