<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ board.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ board.description }}</h6>

    <form>
      <div class="form-group">
        <input type="email" class="form-control" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Enter text to search for a task.</small>
      </div>
    </form>

    <div class="tasks-body cdk-list drag-column" (onDrop)="onDrop($event)" pDroppable="task">
      <app-task *ngFor="let task of board.tasks" 
                #container  
                [(task)]="task" 
                [openEditFormEvent]="openEditFormEvent">
      </app-task>
    </div>

    <br>

    <app-add-task (taskAddEvent)="onTaskAdd($event)" [boardId]="board.id"></app-add-task>

  </div>
</div>