<app-nav></app-nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
          Cras justo odio
        </button>
        <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
        <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
        <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12 jumbotron">
          <p class="h2">Personal spaces</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let space of spaces">
          <app-space [space]="space"></app-space>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-10">
          <p class="h2">John Doe's projects</p>
        </div>
      </div>
    </div>
  </div>
</div>